.message {
    margin: 8px 0;
    padding: 3px 8px;
    width: 20vw;
    /* height: 3vh; */
    border-radius: 10px;
    max-width: 80%;
    color: black;
}

.my-message {
    background-color: #DCF8C6;
    align-self: flex-start;
    text-align: start;
}

.others-message {
    background-color: #E5E5EA;
    align-self: flex-end;
    text-align: end;
}

.chat-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 4vh; */
    word-break: break-all;
}

.join {
    background-color: rgb(184, 175, 163);
    text-align: center;
    color: green;
}

.exit {
    background-color: rgb(184, 175, 163);
    text-align: center;
    color: red;
}