.chat {
    height: 60vh;
    width: 50vw;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat > .chat-message {
    align-items: start;
}